cached-property==1.5.2
cytoolz==0.12.3
eth-hash==0.7.0
eth-typing==4.3.1
eth-utils==4.1.1
exceptiongroup==1.2.1
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
py-ecc==7.0.1
pytest==8.2.2
tomli==2.0.1
toolz==0.12.1
typing_extensions==4.12.2
